docs/
examples/
hooks/
test/
test-reports/
.editorconfig
.gitattributes
.gitignore
.jestconfig.json
.nvmrc
.travis.yml
bower.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
tsconfig.json
tsconfig.jest.json
tslint.json
webpack.config.js
*.log
