sudo: false
language: node_js
cache:
  directories:
  - node_modules
notifications:
  email: false
  slack:
    secure: s66IGZYawJN/SiVIF00N41uxcwpnmZGhj3mtMB4Trz59jVcEkP3KJ4WJc8pyPLaUt6MxnQJc4EqJ69mkH/MvESSGkuC+22HAgXYjwJXCqmFKN3NnwiycFlwRXzMWytdvctzaxmoyOLWFO7zJWPj+zRQTkQiOlndRn0Pvp9WpdKOiisaXJeOClsu8dHyv00lk4VJxT0nfXkSw7QLZQ0JsiFH/SPr9DnVWv8DnDS+hOVoZcr1vSnC12muzP1iaBdr8jA/EuZ53MtylIu6+0NHR9/jxBjRTPadyvsNelqU2zphtJ7Cvg3LNYz7Im+WuN8OZBAfrXYVAmugjkLCoODbfLir0/7BXghMn1Q9UpU4XKJ9JBv3f9hyhn1gf9eL9VZT3IFCXzs1Fjlji/K+DfAoSoW51Bxteyzj0VyfEly44dtQlZT81VtEaZtNYc3zVk17RoMH/zPgsucd2T14m9cA3jIcyw3K4ZscRWMFlHdQWGUs2eQ9XAU0MLgYjUHKzMq5R7nJZYvqbCCiaTuZrlnxcMEQkboJKbjbixCnYRH67lLHkFSar7umR0Q2aJQauhhUIHNXoXvHZD8e4nCSnGF4M2gAx5+OqZKu2ZxOg5FJRvTPQNXt0oimdV5+joWfkfLHTlUqrAVPLyTmquUQWy8rlfYBrRDvN3OownZ031VPm5pE=
node_js:
- 10
- 8
before_install:
- npm i -g npm@^2.0.0
before_script:
- npm prune
after_success:
- curl -Lo travis_after_all.py https://git.io/travis_after_all
- python travis_after_all.py
- export $(cat .to_export_back) &> /dev/null
- npm run coverage:upload
- npm run semantic-release
branches:
  except:
  - "/^v\\d+\\.\\d+\\.\\d+$/"
  - gh-pages
